{% trans_default_domain 'FOSUserBundle' %}

<section class="row blog-post-list" id="content">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <p><a href="{{ path('fos_user_change_password') }}">{{ 'resetting.reset.submit'|trans }}</a></p>
</section>
