{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block nav %}{% include 'partials/nav.html.twig' %}{% endblock %}

{% block body %}
    <div class="small-banner callout large primary">
        <div class="row column text-center">
            <h1>{{ title }}</h1>
        </div>
        {% for message in app.flashes('notice') %}
        <div data-closable class="callout alert-callout-border success">
            <strong>Yay!</strong><p>{{ message }}</p>
            <!--<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>-->
        </div>
        {% endfor %}
    </div>
    <div class="row column">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.titre, {'label': 'Titre'}) }}
        {{ form_row(form.url_alias, {'label': 'URL'}) }}
        {{ form_row(form.content, {'label': 'Contenu'}) }}
        {{ form_row(form.published, {'label': 'Date de publication'}) }}

        {{ form_row(form.save, { 'label': 'Enregister' }) }}
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block footer %}{% include 'partials/footer.html.twig' %}{% endblock %}
